.beginner-shadow:hover {
  box-shadow: 0px 0px 16px 0px rgba(33, 110, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(33, 110, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(33, 110, 0, 0.75);
}

.advanced-shadow:hover {
  box-shadow: 0px 0px 16px 0px rgba(0, 77, 110, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 77, 110, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 77, 110, 0.75);
}

.tricks-shadow:hover {
  box-shadow: 0px 0px 16px 0px rgba(170, 0, 212, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(170, 0, 212, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(170, 0, 212, 0.75);
}

.daily-shadow:hover {
  box-shadow: 0px 0px 16px 0px rgba(212, 102, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(212, 102, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(212, 102, 0, 0.75);
}
